[package]
name = "serde_arrow"
version = "0.3.0"
authors = ["Christopher Prohm <mail@cprohm.de>"]
edition = "2021"
description  = "convert sequences of structs / maps to arrow tables"
readme = "../Readme.md"
repository = "https://github.com/chmp/serde_arrow"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow = "8.0"
serde = "1.0"

# TODO: make optional, only required for str -> date conversions
chrono = "0.4"

[dev-dependencies]
chrono = { version = "0.4", features = ["serde"] }
serde = { version = "1.0", features = ["derive"] }
criterion = "0.3"
rand = "0.8"

[[bench]]
name = "bench"
harness = false
