{
  "name": "Release",
  "on": {
    "release": {
      "types": [
        "published"
      ]
    }
  },
  "env": {
    "CARGO_TERM_COLOR": "always"
  },
  "jobs": {
    "build": {
      "runs-on": "ubuntu-latest",
      "env": {
        "CARGO_REGISTRY_TOKEN": "${{ secrets.CARGO_REGISTRY_TOKEN }}"
      },
      "steps": [
        {
          "uses": "actions/checkout@v4"
        },
        {
          "name": "rustc",
          "run": "rustc --version"
        },
        {
          "name": "cargo",
          "run": "cargo --version"
        },
        {
          "name": "Check",
          "run": "cargo check"
        },
        {
          "name": "Check arrow-52",
          "run": "cargo check --features arrow-52"
        },
        {
          "name": "Check arrow-51",
          "run": "cargo check --features arrow-51"
        },
        {
          "name": "Check arrow-50",
          "run": "cargo check --features arrow-50"
        },
        {
          "name": "Check arrow-50",
          "run": "cargo check --features arrow-50"
        },
        {
          "name": "Check arrow-49",
          "run": "cargo check --features arrow-49"
        },
        {
          "name": "Check arrow-48",
          "run": "cargo check --features arrow-48"
        },
        {
          "name": "Check arrow-47",
          "run": "cargo check --features arrow-47"
        },
        {
          "name": "Check arrow-46",
          "run": "cargo check --features arrow-46"
        },
        {
          "name": "Check arrow-45",
          "run": "cargo check --features arrow-45"
        },
        {
          "name": "Check arrow-44",
          "run": "cargo check --features arrow-44"
        },
        {
          "name": "Check arrow-43",
          "run": "cargo check --features arrow-43"
        },
        {
          "name": "Check arrow-42",
          "run": "cargo check --features arrow-42"
        },
        {
          "name": "Check arrow-41",
          "run": "cargo check --features arrow-41"
        },
        {
          "name": "Check arrow-40",
          "run": "cargo check --features arrow-40"
        },
        {
          "name": "Check arrow-39",
          "run": "cargo check --features arrow-39"
        },
        {
          "name": "Check arrow-38",
          "run": "cargo check --features arrow-38"
        },
        {
          "name": "Check arrow-37",
          "run": "cargo check --features arrow-37"
        },
        {
          "name": "Check format",
          "run": "cargo fmt --check"
        },
        {
          "name": "Build",
          "run": "cargo build --features arrow-52"
        },
        {
          "name": "Test",
          "run": "cargo test --features arrow-52"
        },
        {
          "name": "Publish to crates.io",
          "working-directory": "serde_arrow",
          "run": "cargo publish"
        }
      ]
    }
  }
}