{
  "name": "Test",
  "on": {
    "workflow_dispatch": {},
    "pull_request": {
      "branches": [
        "main"
      ],
      "types": [
        "opened",
        "edited",
        "reopened",
        "ready_for_review",
        "synchronize"
      ]
    }
  },
  "env": {
    "CARGO_TERM_COLOR": "always"
  },
  "jobs": {
    "build": {
      "runs-on": "ubuntu-latest",
      "steps": [
        {
          "uses": "actions/checkout@v3"
        },
        {
          "name": "rustc",
          "run": "rustc --version"
        },
        {
          "name": "cargo",
          "run": "cargo --version"
        },
        {
          "name": "Check",
          "run": "cargo check"
        },
        {
          "name": "Check arrow2-0-17",
          "run": "cargo check --features arrow2-0-17"
        },
        {
          "name": "Check arrow2-0-16",
          "run": "cargo check --features arrow2-0-16"
        },
        {
          "name": "Check arrow-50",
          "run": "cargo check --features arrow-50"
        },
        {
          "name": "Check arrow-50",
          "run": "cargo check --features arrow-50"
        },
        {
          "name": "Check arrow-49",
          "run": "cargo check --features arrow-49"
        },
        {
          "name": "Check arrow-48",
          "run": "cargo check --features arrow-48"
        },
        {
          "name": "Check arrow-47",
          "run": "cargo check --features arrow-47"
        },
        {
          "name": "Check arrow-46",
          "run": "cargo check --features arrow-46"
        },
        {
          "name": "Check arrow-45",
          "run": "cargo check --features arrow-45"
        },
        {
          "name": "Check arrow-44",
          "run": "cargo check --features arrow-44"
        },
        {
          "name": "Check arrow-43",
          "run": "cargo check --features arrow-43"
        },
        {
          "name": "Check arrow-42",
          "run": "cargo check --features arrow-42"
        },
        {
          "name": "Check arrow-41",
          "run": "cargo check --features arrow-41"
        },
        {
          "name": "Check arrow-40",
          "run": "cargo check --features arrow-40"
        },
        {
          "name": "Check arrow-39",
          "run": "cargo check --features arrow-39"
        },
        {
          "name": "Check arrow-38",
          "run": "cargo check --features arrow-38"
        },
        {
          "name": "Check arrow-37",
          "run": "cargo check --features arrow-37"
        },
        {
          "name": "Build",
          "run": "cargo build --features arrow2-0-17,arrow-50"
        },
        {
          "name": "Test",
          "run": "cargo test --features arrow2-0-17,arrow-50"
        }
      ]
    }
  }
}